.meta {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding-top: 10px;
}

.note {
  height: 22px;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.upkey {
  width: 55px;
  height: 50px;
  background-color: rgba(127, 255, 212, 0.556);
  border-radius: 30px;
  position: fixed;
  right: 10px;
  bottom: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 5px;
}

a {
  text-decoration: none;
}
