*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 1310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.list-anime{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
   
}

.list-anime a {
     width: calc((100% - 30px) / 4);
    height: calc((100% - 20px) / 3);  
     
}

a{
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  text
}   

.anime-picture{
    max-height:: 100%;
    max-width: 100%;
    
}

.anime-decription{
    height: 10%;
}

.meta{
    display: flex;
   font-size: 13px;
   justify-content: space-between;
   padding-top: 10px;
   
}

.note{
    height: 22px;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.anime-news{

}

.list-news{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

}

.news-pic{
    max-width: 100%;
    max-height: 100%;
   width:calc(40% 
   + 10px);
}

.list-news a {
    display: flex; 
    width: calc((100% - 30px) / 4);
}

.news-title{
    max-width: 100%;
    width: calc(60% - 10px);
    padding: 10px;
    font-size: 14px;
}

.cartoon-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

}

.pic{
    max-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartoon-list a {
    width: calc((100% - 30px)) /4;
    
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    overflow: hidden;
}



.manga-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.manga-list a{
    width: calc((100% - 50px) / 6);
}

.manga-decription{
    padding-top: 10px;
}

.manga{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.collections-list{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.collections-pic{
    max-width: 100%;
}

.collections-list a{
   width: calc((100% - 30px) / 4);
}

.movie-list{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-between;
}

.movie-pic{
    max-width: 100%;
}

.movie-list a{
    width: calc((100% - 50px) / 6);
}

.movie-decription{
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.charts-list{
    display: flex;
    justify-content: space-between;
}
.chart-pic{
    max-width: 100%;
    width: calc((100% - 50px) / 6);

}

.anime-list-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
}

.all-pic{
    max-width: 100%;
}

.anime-list-all a{
    width: calc((100% - 30px) / 4);
}

.all{
    width: 1310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.linkbutton{
    margin-left: auto;
    margin-right: auto;
    
}

.relative {
    position: relative;


}

.absolute {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2
    ;
}

.movie:hover .btn-play

.fixed-1 {
    position: fixed;
    right: 20px;
    bottom: 40px;
}

.fixed-2 {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.circle {
        background: rgb(5, 84, 210);
        clip-path: circle(50%);
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
}

.btn {
    height: ;
}